/* General */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: black;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
}

th,
tr,
td {
  padding: 3px !important;
}

.f-xs {
  font-size: 12px;
}

.f-sm {
  font-size: 14px;
}

.f-md {
  font-size: 16px;
}

.f-lg {
  font-size: 18px;
}

.f-xl {
  font-size: 20px;
}
.w-80p {
  width: 80px;
}

.w-20 {
  width: 20%;
}
.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}
.w-90MM,
.w-90M {
  width: 90%;
  max-width: 300px;
}

.w-100 {
  width: 100%;
}

.w-100M {
  width: 100%;
  max-width: 300px;
}

.w-max {
  max-width: 300px;
}
.y-1000 {
  height: 1000px;
}

.margin-x-0 {
  margin-left: 0;
  margin-right: 0;
}
.margin-x-1 {
  margin-left: 4;
  margin-right: 4;
}
.margin-x-2 {
  margin-left: 8;
  margin-right: 8;
}
.margin-auto-1 {
  display: inline-block;
  margin: 4px auto;
}
.margin-auto-2 {
  display: inline-block;
  margin: 8px auto;
}
.margin-auto-3 {
  display: inline-block;
  margin: 12px auto;
}
.margin-auto-3b {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  /* margin: 12px auto 0px auto; */
}
.margin-auto-4 {
  display: inline-block;
  margin: 16px auto;
}

.disable-pointer {
  pointer-events: none;
  opacity: 0.2;
}

/* .scroll-overflow {
  position: relative;
  top: 0;
  left: 0;
  overflow-y: scroll;

  background: #000;
} */

/* Navbar */
.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}
.nav-offset {
  height: 62px;
}

/* Date Picket */
.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

/* Updates */
.update-container {
  background: rgba(223, 223, 223, 1);

  /* width: 100%; */
  /* box-shadow: 20px -10px #666; */
}
.update-container table tr {
  width: 100%;
}

/* Messages */
.message-container {
  background: rgba(223, 223, 223, 1);
  /* box-shadow: 20px 0 #dddddd; */
}

/* Game (generic page) */
.details-container {
  background: rgba(223, 223, 223, 1);
  width: 85%;
  line-height: 1.5em;
  margin: auto;
  /* background: yellow; */
}

/* Game - hockey */
.hockey-scoreboard {
  width: 90%;
  background: #333333;
  box-shadow: 20px -10px 10px #666;
  position: fixed;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.hockey-score-item {
  /* background: #ffc107; */
  background: #111111;
}
.hockey-mobile-buttons {
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
}
.hockey-mobile-info {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
}
.hockey-wide-info {
  position: absolute;
  top: 220px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
}

.game-hockey {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.game-hockey:before {
  content: "";
  background: url(./assets/img/hockey_rink.jpg) no-repeat center center/cover;
  background-size: cover;
  position: fixed;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.period-button {
  border-bottom: 10px solid blue !important;
  /* box-sizing: content-box; */
}

@media (min-width: 576px) {
  .hockey-scoreboard {
    top: 76px;
  }
  .hockey-mobile-buttons {
    top: 230px;
  }
  .hockey-mobile-info {
    top: 280px;
  }
  .f-xs {
    font-size: 14px;
  }

  .f-sm {
    font-size: 16px;
  }

  .f-md {
    font-size: 18px;
  }

  .f-lg {
    font-size: 20px;
  }

  .f-xl {
    font-size: 22px;
  }
  .w-90M {
    max-width: 400px;
  }
  .w-90MM {
    max-width: 600px;
  }
  .w-100M {
    max-width: 400px;
  }
  .w-max {
    max-width: 400px;
  }
  .w-90max {
    max-width: 360px;
  }
}
@media (min-width: 768px) {
  /* .f-xs {
    font-size: 16px;
  }

  .f-sm {
    font-size: 18px;
  }

  .f-md {
    font-size: 20px;
  }

  .f-lg {
    font-size: 22px;
  }

  .f-xl {
    font-size: 24px;
  } */
  .w-100M {
    width: 100%;
    max-width: 500px;
  }
  .w-max {
    max-width: 400px;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
